<h4>Welcome, <%= @user.first_name %>!</h4>

<br>

<p>With Notes on Rails you can add, update, and delete notes as you need to. Best of all, when you create a note, we'll send you an email with all of the note information!</p>

<br>

<p>See you soon!</p>
