<h1><%= @user.first_name %>'s Notes</h1>

<div class="message">
  <%= flash[:message] if flash[:message] %>
</div>

<div class="paper">
  <div class="pattern">
    <div class="content">
      <% if @user.notes.length == 0 %>
        You have no notes.
      <% else %>
        <% @user.notes.each do |note| %>
          <%= link_to "#{note.title}", note_path(note) %>
          <%= render :partial => "/notes/note", :locals => {:user => @user, :note => note} %>
          <br><br>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
